@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{ margin: 0; box-sizing: border-box;}
a{ text-decoration: none;}
img{vertical-align: bottom;}
:disabled{ cursor: not-allowed;}
button{ cursor: pointer; padding: 0;}
ul{ list-style: none; padding: 0;}
abbr[title]{ text-decoration: underline dotted; -webkit-text-decoration: underline dotted;}


html{scroll-behavior: smooth;}
body{font-family: 'open sans', sans-serif; background: #080808; color: #333333; }



.container{max-width: 1200px; margin: auto; padding: 0 1rem;}


.row{ display: flex; flex-flow: row wrap; margin:  0 -1rem; }
[class^="col-"]{ flex: 1 0 auto; padding: 0 1rem; }
.col-1{ flex-basis: 8.33%; max-width: 8.33%;}
.col-2{ flex-basis: 16.66%; max-width: 16.66%;}
.col-3{ flex-basis: 25%; max-width: 25%;}
.col-4{ flex-basis: 33.3336%; max-width: 33.3336%;}
.col-5{ flex-basis: 41.66%; max-width: 41.66%; }
.col-6{ flex-basis: 50%; max-width: 50%;}
.col-7{ flex-basis: 58.33%; max-width: 58.33%;}
.col-8{ flex-basis: 66.66%; max-width: 66.66%;}
.col-9{ flex-basis: 75%; max-width: 75%;}
.col-10{ flex-basis: 83.33%; max-width: 83.33%;}
.col-11{ flex-basis: 91.66%; max-width: 91.66%;}
.col-12{ flex-basis: 100%; max-width: 100%;}
.flex{ display: flex; }
.align-center{ align-items: center;}
.justify-right{ justify-content: right;}
.text-center{text-align: center;}





/* Navbar */
.navbar{position: fixed; left: 0; right: 0; padding: 15px 20px; }
.navbar a{display: block; font-size: 1vw; color: white; }
.navbar ul{display: flex; gap: 60px; justify-content: right;}
.navbar ul li a{font-size: 1.2vw; font-weight: 600; color: white;}





/* Content */
.home{padding: 200px 20px 0 20px}
.home h2{font-size: 4vw; font-weight: 600; width: 90%;}
.home .text{color: white; margin-bottom: 40px; font-size: .9rem; margin-top: 10px;}


.home .content{display: flex; flex-flow: column wrap; height: 80vh; justify-content: space-between;}
.home button{background: linear-gradient(to right,#AAD9D1,#017373); color: inherit; font-weight: 600; padding: 10px 20px; border: none; border-radius: 5px;}
.home p{font-size: 1rem; color: white;}
.home img{width: 100%;}
.home h2{color: white;}
.home h2 span{background: linear-gradient(to right,#AAD9D1,#017373); background-clip: text; color: transparent;}


  
.hero-img img{max-width: 100%; height: auto;}

  

  .about h4{color: white;}

  .about p{margin-top: 20px; color: white;}
 

  /* Responsive Design */
  @media screen  and (max-width: 600px){
    .navbar a{ font-size: 2vw;}
    .navbar ul li a{font-size: 3vw;}
    .col-m-12{max-width: 100%; flex-basis: 100%;}
    .home img{width: 100%;}
    .order{order: -1;}
    .home h2{font-size: 30px;}
    .home{padding: 70px 0;}
  }
